body {
    background-color: #ffffff;
    padding: 2rem;
}

.search-bar {
    background: rgb(1, 128, 28);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

.card img {
    border-radius: 1rem 1rem 0 0;
    height: 200px;
    object-fit: cover;
}

.card {
    border-radius: 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease;
    transition: all 0.3s ease;
}


.card:hover {
    transform: scale(1.03);
    box-shadow: 6px 6px 12px rgba(25, 148, 0, 0.7);
}

.no-results {
    text-align: center;
    margin-top: 2rem;
    color: #888;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-size: 60%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 1.646a.5.5 0 010 .708L6.707 7l4.647 4.646a.5.5 0 01-.708.708l-5-5a.5.5 0 010-.708l5-5a.5.5 0 01.708 0z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 1.646a.5.5 0 000 .708L9.293 7l-4.647 4.646a.5.5 0 10.708.708l5-5a.5.5 0 000-.708l-5-5a.5.5 0 00-.708 0z'/%3E%3C/svg%3E");
}

.carousel-indicators [data-bs-target] {
    background-color: #000000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #fff;
    border: 2px solid #000000;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 1rem 2rem;
    bottom: 50px;
}

#bannerCarousel {
    margin: 40px auto;
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 10);
}


.carousel-item img {
    border-radius: 20px;
    object-fit: cover;
}

.navbar {
    border-radius: 20px;
    background-color:  rgb(1, 128, 28);
}

.logo {
    height: 50px;
    margin-right: 15px;
}

.modal-body img {
    border-radius: 1rem 1rem 0 0;
    height: 200px;
    object-fit: cover;
}

#portada {
  background-image: url('img/Hola.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 4px rgb(255, 255, 255);
  border-radius: 15px;  
  padding: 60px 20px;
  height: 100%;        
}
#portada2 {
  background-image: url('img/Hola.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 4px rgb(255, 255, 255);
  border-radius: 15px;  
  padding: 60px 20px;
  height: 100%;
}

.card {
  position: relative; 
}

.premium-badge {
  position: absolute;
  top: 8px;
  right: 10px;
  color: rgb(43, 255, 0);
  font-size: 1.3rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

a {
    text-decoration: none;
}

.card-body {
    background-color: none;
}